* {
  border: 1px solid black;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

button.start {
  height: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  width: 600px;
  height: 600px;
}

.cell {
  background-size: cover;
}

.cell.x {
  background-image: url("assets/x.png");
}

.cell.o {
  background-image: url("assets/o.png");
}
